@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
}

.bungkus {
  position: relative;
  width: 100%;
  /* height: 300vh; */
  padding-bottom: 2em;
  overflow-x: hidden;
}

/* code bagian navbar */

.nav-template {
  width: 100%;
  font-family: 'Barlow', sans-serif;
  position: fixed;
  top: 0;
  color: #fff;
  padding: 0.5em 0.8em;
  left: 0;
  z-index: 100000;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* height: 60px; */
}

/* code bagian h2 nav */

.nav-template .judul-nav {
  padding: 0.5em;
}
.nav-template .judul-nav .h2-nav {
  font-weight: 700;
  cursor: pointer;
}

/* akhir code bagian h2 nav */

/* code bagian nav item */
.nav-template .nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  padding: 0.8em;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  list-style: none;
}
.nav-item a {
  color: inherit;
  text-decoration: none;
}
.nav-item a li.nav-link {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 2em;
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
}
.nav-item .btn-contact {
  padding: 0.7em 1em;
  border: none;
  font-family: 'Barlow', sans-serif;
  width: 100px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
  text-transform: capitalize;
  background: #fff;
}

/* akhir code nav-item */

/* code bagian nav-bar */

.nav-template .nav-bar {
  visibility: hidden;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 1.5em;
}

/* akhir code nav-bar */

/* code nav-active */

.nav-template ul.nav-active {
  visibility: visible;
  opacity: 1;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

/* akhir code nav active */
/* akhir code navbar */

/*  code bagian jumbotron  */

.jumbotron {
  position: relative;
  width: 100%;
  height: 110vh;
  padding-top: 150px;
  text-align: center;
  background: url('images/desktop/image-header.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
/* code h2 display-4 */

.jumbotron .display-4 {
  font-family: 'Fraunces', serif;
  color: #fff;
  margin-bottom: 1.3em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 3em;
}
/*akhir code h2 display-4 */

/* akhir code jumbotron */

/* code bagian root class bagian content */

/* code template content */

.template-content {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

/* akhir code template content */

/* template content desc */

.template-content .desc-bungkus,
.img-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 550px;
}

/* akhir template content desc */

.template-content .desc-bungkus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-content .content-desc {
  padding: 0.5em;
}
.brand h2 {
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: 800;
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
}

.brand p {
  text-transform: capitalize;
  font-family: 'Fraunces', serif;
  color: hsl(232, 10%, 55%);
  font-weight: 600;
}
.template-content .img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

/* code btn */
.a-c {
  color: inherit;
  text-decoration: none;
}
.btn {
  position: relative;
  margin-top: 1em;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  background: transparent;
  padding: 0.4em 0.5em;
  border-radius: 5px;
  color: hsl(212, 27%, 19%);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  z-index: 2;
  overflow: hidden;
}
.btn:hover .garis {
  transform: translateY(70%);
  -webkit-transform: translateY(70%);
  -moz-transform: translateY(70%);
  -ms-transform: translateY(70%);
  -o-transform: translateY(70%);
  opacity: 1;
}

.garis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform: translateY(90%);
  -webkit-transform: translateY(90%);
  -moz-transform: translateY(90%);
  -ms-transform: translateY(90%);
  -o-transform: translateY(90%);
  z-index: -1;
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}
.garis-yellow {
  background: hsla(51, 100%, 49%, 0.9);
}
.garis-pink {
  background: hsl(7, 99%, 70%);
}

/* end code btn */

/* akhir code bagian root class bagian content */

/* code bagian content audient */
.audien-template .audien-img {
  order: 1;
}
.audien-template .desc-audien {
  order: 2;
}

/* akhir content audient */

/* code bagian content graphic design and photography */

.work-template .desc-graphic {
  background: url('images/desktop/image-graphic-design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: top center;
}
.work-template .g-desc {
  position: absolute;
  text-align: center;
  bottom: 3em;
}
.desc-graphic .g-desc .h-graphic,
p.p-graphic {
  color: hsl(167, 40%, 24%);
}
.g-desc .h-graphic,
.h-photo {
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: 800;
  font-family: 'Fraunces', serif;
}

.desc-graphic .g-desc p.p-graphic,
.p-photo {
  font-weight: 600;
  text-transform: none;
  font-family: 'Barlow', sans-serif;
}

.work-template .desc-photo {
  background: url('images/desktop/image-photography.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: top center;
}
.desc-photo .g-desc .h-photo,
.p-photo {
  color: hsl(198, 62%, 26%);
}
/* end code bagian content graphic design and photography */

/* code card-testimonial */

.judul-testi {
  margin-top: 5em;
  text-transform: uppercase;
  text-align: center;
  color: hsl(210, 4%, 67%);
  font-size: 1.1em;
  letter-spacing: 3px;
  font-weight: 600;
}
.card-template {
  margin: 1.5em auto 0;
  max-width: 1100px;
  display: grid;
  position: relative;
  padding: 0.2em;
  grid-template-columns: repeat(3, 1fr);
}
.card-template .card {
  width: 100%;
  padding: 1.5em 0;
}
.card .img-header {
  position: relative;
  width: 100%;
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .img-card {
  width: 60px;
  border-radius: 50%;
  height: 60px;
}
.card .card-desc {
  padding: 0.8em 0;
  text-align: center;
}
.card-desc p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 0.9em;
  color: hsl(213, 9%, 39%);
}
.card .card-footer {
  width: 100%;
  padding: 0.8em;
  text-align: center;
}
.card-footer .name-testi {
  font-weight: 900;
  font-family: 'Fraunces', serif;
}
.card-footer p.profession {
  font-family: 'Barlow', sans-serif;
  font-size: 0.7em;
  margin-top: 0.5em;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
  color: hsl(232, 10%, 55%);
}

/* end code card testimonial */

/* code bagian container-img sebelum footer */

.container-img {
  position: relative;
  width: 100%;
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-img .img-item {
  width: 100%;
  height: 400px;
}
.container-img .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end code bagian container-img sebelum footer */

/* media < 1100 */
@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .brand h2 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
  }
  .brand p {
    font-size: 0.9em;
  }
}

/* media < 1100 */

/* code ukuran < 1000px */

@media screen and (max-width: 1000px) {
  .nav-template {
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-template .judul-nav {
    position: absolute;
    left: 10px;
  }
  .nav-template .nav-item {
    display: flex;
    position: relative;
    top: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    z-index: 1;
    background-color: hsl(0, 0%, 100%);
    padding: 0.8em;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    opacity: 0;
    visibility: hidden;
    list-style: none;
  }
  .nav-template .nav-item::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    right: 0;
    top: -40%;
    border-bottom: solid 50px #fff;
    border-left: solid 40px transparent;

    height: 50px;
  }
  .nav-item a li.nav-link {
    margin-right: 0;
    color: hsl(213, 9%, 39%);
    position: relative;
    margin-bottom: 1.2em;
  }
  .nav-item .btn-contact {
    padding: 0.7em 1em;
    border: none;
    font-family: 'Barlow', sans-serif;
    width: 100px;
    font-size: 0.8em;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background: hsl(51, 100%, 49%);
  }
  .nav-bar .img-nav {
    width: 30px;
    height: 25px;
  }
  .nav-template .nav-bar {
    visibility: visible;
    padding: 0;
    cursor: pointer;
  }

  /* code content media < 1000px */

  .template-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .template-content .content-desc {
    text-align: center;
  }

  .egg-template .egg-img {
    order: 1;
  }
  .egg-template .desc-egg {
    order: 2;
  }
  /*end code content media < 1000px */

  /* code card testi <1000 */

  .card-template {
    grid-template-columns: 1fr;
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr;
  }

  /* end code card testi < 1000 */

  .container-img {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .container-img .img-item {
    width: 100%;
    height: 400px;
  }
}

/* akhir code ukuran < 1000px */

/* code media < 660px */
@media screen and (max-width: 660px) {
  .jumbotron .display-4 {
    font-size: 2em;
  }
}

@media screen and (max-width: 520px) {
  .brand h2 {
    font-size: 2em;
  }
  .brand p {
    font-size: 0.9em;
  }
  .container-img .img-item {
    width: 100%;
    height: 220px;
  }
}

@media screen and (max-width: 460px) {
  .jumbotron .display-4 {
    font-size: 1.5em;
  }
  .brand h2.h-audien {
    font-size: 1.5em;
  }
  .brand p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 375px) {
  .jumbotron .display-4 {
    font-size: 1.1em;
  }
  .brand h2 {
    font-size: 1.4em;
  }
  .brand h2.h-audien {
    font-size: 1.3em;
  }
  .brand p {
    font-size: 0.7em;
  }
  .desc-graphic .g-desc p.p-graphic,
  .p-photo {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 384px) {
  .brand h2 {
    font-size: 1.4em;
  }
  .brand h2.h-audien {
    font-size: 1.3em;
  }
  .brand p {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 300px) {
  .brand h2 {
    font-size: 1em;
  }
  .brand p {
    font-size: 0.5em;
  }
  .g-desc .h-graphic,
  .h-photo {
    text-transform: capitalize;
    font-size: 1.6em;
    margin-bottom: 0.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
  }
}
@media screen and (max-width: 280px) {
  .jumbotron .display-4 {
    font-size: 0.8em;
  }
}

/* code media < 660px */

/* media > 2000 */

@media screen and (min-width: 2000px) {
  .template-content {
    position: relative;
    margin: 0 auto;
    top: 0;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
  }
  .container-img {
    max-width: 1500px;
    margin: 1.5em auto;
  }
}

/* media > 2000 */
